######Startmemoof my.cnf #######
######Start my.cnf #######
#########need update basedir/datadir/server-id##########
##########Must do it before start mysql###############

[mysqld]
basedir = /usr/local/mysql
datadir = /data/mysql
server-id = 10  
symbolic-links=0
event_scheduler=ON
gtid-mode = on
enforce-gtid-consistency = true
log-slave-updates = true
character-set-server=utf8
collation-server=utf8_general_ci
lower_case_table_names = 1 
max_connect_errors = 1000
max_connections = 1000
skip-name-resolve = 1 
skip_ssl
innodb_buffer_pool_size=512M
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
group_concat_max_len = 102400   ###avoid error code [1260]; %d line(s) were cut by ... 
log_error = /var/log/mysql/error.log
 
general_log=1
general_log_file  = /var/log/mysql/mysql_general.log
 
slow_query_log = 1 
slow_query_log_file  = /var/log/mysql-slow.log
long_query_time = 2 
 
log-bin = /usr/local/mysql/mysql-2-binlog  ####mysql-2-binlog is file prefix,NOT Directory!!!!
binlog_format=MIXED                                                                                                                                                                       
relay-log = relay-bin

expire_logs_days        = 10
max_binlog_size         = 512M 

[client]
pager = more
 
######End my.cnf #######
######Endmemoof my.cnf #######
